@font-face{
    font-family: 'electronicFont';
    src: url('../font/DS-DIGIT.TTF');
}
html {
    font-size: 100px;
}
body {
    margin: 0;
    padding: 0;
}
.main {
    overflow-x: scroll;
    background-color: rgba(5, 22, 74, 1);
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.main::-webkit-scrollbar{
    display: none;
}
.main_con {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.main-header {
    width: 100%;
    min-height: 0.7rem;
    display: flex;
    background-image: url("../images/head_bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}
.main-header div {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.main-header .header-title {
    display: flex;
    width: 100%;
    font-size: .285rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}
.main-header .header-time {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0 0 .1rem 0;
    font-size: .25rem;
    font-family: electronicFont;
    font-weight: 500;
    color:#e7e4e4;
}
.main-context {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.main-context-tab {
    display: flex;
    width: 100%;
    flex-direction: row;
    padding: 0 .1rem;
    box-sizing: border-box;
}
.content-tab-card {
    position: relative;
    width: 100%;
    display: flex;
    height: .3rem;
    padding: .1rem;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    z-index: 999;
    border: 1px solid rgba(25, 186, 139, 0.17);
    background-color: rgba(255, 255, 255, 0.04);
    background-image: url("../images/line.png");
    background-size: cover;
    background-repeat: repeat;
    border-radius: 1px;
    box-sizing: border-box;
}
.content-center {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.content-tab-main {
    width: 100%;
    display: flex;
    padding: 0.1rem;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.04);
    background-size: cover;
    background-repeat: repeat;
    border-radius: 1px;
    box-sizing: border-box;
}
.content-tab-count {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.tab-count {
    position: relative;
    display: flex;
    border: 1px solid rgba(25, 186, 139, 0.17);
    width: 100%;
    color: #fdeb8b;
    padding: 10px 0;
    height: 0.5rem;
    font-size: .45rem;
    line-height: .5rem;
    font-family: electronicFont;
    justify-content: center;
}
.tab-text {
    color: #ffffff;
    margin-top: 10px;
    font-size: .15rem;
}
.content-tab-card span {
    color: #3f95f1;
    font-size: .25rem;
    font-weight: 500;
}
.content-tab-card div {
    font-size: .25rem;
    color: #FFFFFF;
}
.content-tab-card .title {
    font-size: .25rem;
    color: white;
}
.content-tab-card .count {
    font-weight: bold;
    font-size: .25rem;
    color: #ffeb7b;
    font-family: electronicFont;
}
.main-context-tab-list {
    display: flex;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0 0.12rem;
    margin-bottom: 0.2rem;
}
.tab-list-action {
    position: relative;
    z-index: 9999;
    width: 80%;
    padding: 0.2rem 0.2rem;
    height: 100%;
    background-color: rgba(15, 33, 89 ,0.7);
    background-image: url("../images/line.png");
    background-size: cover;
    background-repeat: repeat;
    border: 1px solid rgba(25, 186, 139, 0.17);
    box-sizing: border-box;
}
.tab-list-colors {
    display: flex;
    width: 100%;
    text-align: center;
    flex-direction: column;
    height: 100%;
    overflow-y: scroll;
    -ms-overflow-y: scroll;
    scrollbar-width: none;
}
.tab-list-colors::-webkit-scrollbar{
     display: none;
 }
.list-colors-title {
    padding: 0 0 .2rem 0;
    font-size: .25rem;
    color: #ffffff;
}
.list-body {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.list-colors-list {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 .1rem;
    box-sizing: border-box;
}
.list-colors-item {
    position: relative;
    height: .3rem;
    margin: .1rem 0;
    display: flex;
    width: 100%;
    align-items: center;
    border-radius: 4px;
    background: rgba(109, 109, 112, 0.4);
}
.list-colors-item div {
    background: rgb(47, 47, 141);
    height: 100%;
    border-radius: 4px;
}
.list-colors-item span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    line-height: .3rem;
    font-size: .17rem;
    white-space: nowrap;
    color: #ffffff;
    width: 100%;
    justify-content: center;
    z-index: 999;
}
.left {
    position: absolute;
    margin: 0 0 -1px -1px;
    bottom: 0;
    left: 0;
    border-left: 3px solid #3f95f1;
    border-bottom: 3px solid #3f95f1;
    border-radius: 3px;
}
.right {
    position: absolute;
    top: 0;
    right: 0;
    margin: -1px -1px 0 0;
    border-right: 3px solid #3f95f1;
    border-top: 3px solid #3f95f1;
    border-radius: 3px;
}

.bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 -1px -1px 0;
    border-right: 3px solid #3f95f1;
    border-bottom: 3px solid #3f95f1;
    border-radius: 3px;
}

.top {
    position: absolute;
    margin: -1px 0 0 -1px;
    top: 0;
    left: 0;
    border-left: 3px solid #3f95f1;
    border-top: 3px solid #3f95f1;
    border-radius: 3px;
}
.particles-js-canvas-el {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}
.position-map {
    display: flex;
    flex: 1;
    position: relative;
}
#mapadd {
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 9999
}
.map {
    position: absolute;
    width: 5rem;
    height: 50%;
    top: 25%;
    left: 50%;
    margin-left: -2.5rem;
    z-index: 1;
}
.transition {
    width: 100%;
    height: 100%;
}
.map1 {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: calc(-2.5 * .85rem);
    margin-top: calc(-2.5 * .85rem);
    width: calc(5 * .85rem);
    height: calc(5 * .85rem);
    background: url(../images/map.png) no-repeat;
    background-size: 100% 100%;
    opacity: 0.3;
}
.map2 {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: calc(-2.5 * 1rem);
    margin-top: calc(-2.5 * 1rem);
    width: calc(5 * 1rem);
    height: calc(5 * 1rem);
    background-image: url(../images/lbx.png);
    background-size: 100% 100%;
    opacity: 0.6;
    animation: rotate 15s linear infinite;
    z-index: 2;

}
.map3 {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: calc(-2.5 * .85rem);
    margin-top: calc(-2.5 * .85rem);
    width: calc(5 * .85rem);
    height: calc(5 * .85rem);
    background-image: url(../images/jt.png);
    background-size: 100% 100%;
    animation: rotate1 10s linear infinite;
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotate1 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}
.anchorBL {
    display: none;
}
